/* {} */

body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 16px;
	line-height: 1.25;
}

code {
    font-family: "Courier", Courier, monospace;
	font-size: 15px;
}

h1 {
	font-size: 36px;
}

h1 code {
	font-size: 34px;
}

.toc {
    font-weight: bold;	
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 3px;
	padding: 6px 10px;
	width: 80%;
}

.toc p.head {
  padding-left: 0em;
}
.toc p {
  padding-left: 1em;
}

div.left {
	width: 20%;
    height: 100%;
    position: fixed;
}

div.right {
    width: 75%;
    height: auto;
    position: absolute;
    right: 0;
	margin: 0 2.5% 0 2.5%;
}

a {
  text-decoration: none;
  color: teal;
  border-bottom: 1px solid #ccc;
}

a:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

span.list {
    display: inline-block;
}

.list.active{
  font-weight: bolder;
  color: teal !important;
  transform:scale(1.2,1.2); /* W3C */
  -webkit-transform:scale(1.2,1.2); /* Safari and Chrome */
  -moz-transform:scale(1.2,1.2); /* Firefox */
  -ms-transform:scale(1.2,1.2); /* IE 9 */
  -o-transform:scale(1.2,1.2); /* Opera */
}